# ==================== #
# By: Lmao stupid Cion #
# ==================== #

# <= Main =>
__pycache__

# <= Tekila =>
tekila.py
tekila.txt
tekila.progress.txt

# <= Dirs =>
deobfuscated/
decompiled/
jars/
src/
patches/